#my_dataviz{
    display: flex;
    justify-content: center;
}
#circle circle {
    fill: none;
    pointer-events: all;
}
path.chord {
    stroke: #000;
    stroke-width: .10px;
    opacity: 1;
}
 #circle:hover path.fade {
    opacity: 0;
}

/*text is regions name only on chord diagram and scroll text*/
text {
    fill: black;
    font-family: Arial Narrow,Arial,sans-serif;
    text-align: center;
    font-size: 14px;
}
body{
    background-color: "#FFFFF";
}
